<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Fragment #1 : Headerfiles contains css and js references -->
<head th:fragment="headerfiles">
    <title>Nabo shop</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body>
<!-- Fragment #2 : Navbar contains nav links -->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Nan & Bo</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/}"><i class="fa fa-home"></i>Home</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/profile/index}">Profile</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/admin/index}">Admin</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN','MANAGER')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/management/index}">Management</a>
                </li>
            </ul>

            <!--Logout button-->
            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"
                        type="submit">Logout
                </button>
            </form>

            <!--Login button-->
            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/login}">
                <button sec:authorize="isAnonymous()" th:href="@{~/login}"
                        class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login
                </button>
            </form>

            <!--Register button-->
            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/register}">
                <button sec:authorize="isAnonymous()" class="btn btn-outline-info my-2 my-sm-0 btn-sm"
                        type="submit">Register
                </button>
            </form>

            <!--show user info-->
            <div class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
                <p>   User:  <span sec:authentication="name"></span></p>
            </div>
        </div>
    </nav>
</div>
</body>
</html>